*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%vw;
    height: 100vh;
    box-sizing: border-box;
}

.nav_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 80px auto 20px;


}

.nav_container h1 {
    font-family: 'PT Serif', serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    margin-left: 80px;
}

.nav_content {
    max-width: 380px;
    box-sizing: border-box;
    margin: 0px 110px 0px -80px;
}

.nav_content h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
}

.nav_content p {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    line-height: 27px;
    margin: 10px 0px 0px 0px;
}

.grid_container {
    max-width: 950px;
    height: 1200px;
    margin: 100px auto 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.container {
    display: flex;
    flex-direction: row;
}

img.portrait {
    width: 238px;
    height: 341px;
    margin: 0px 0px 0px 40px;
    cursor: pointer;
    transition: position 0.4s;
}

img:hover {
    position: relative;
    bottom: 3px;
}

img.mid, .container .mid {
    margin-top: 100px;
}

.name {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    margin: 10px 0px 0px 40px;
}

.job {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 12px;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    margin-left: 10px;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    padding: 20px 0px;
}

/* Media Query @ max-width:1024px */

@media screen and (max-width:1024px) {
    
    .nav_container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        margin: 80px auto 20px;
    }
    
    .nav_container h1 {
        font-family: 'PT Serif', serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
        margin-left: 0px;
    }
    
    .nav_content {
        max-width: 380px;
        box-sizing: border-box;
        margin: 0px -20px 0px 0px;
    }
    
    .nav_content h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        line-height: 27px;
        font-weight: 600;
    }
    
    .nav_content p {
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
        line-height: 27px;
        margin: 10px 0px 0px 0px;
    }

    img:hover {
    position: relative;
    bottom: 3px;
}
    
}



/*Media Query @ max-width:768px */

@media screen and (max-width:768px) {
    
    .nav_container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        margin: 80px auto 20px;
    }
    
    .nav_container h1 {
        font-family: 'PT Serif', serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
        margin-left: 0px;
    }
    
    .nav_content {
        max-width: 380px;
        box-sizing: border-box;
        margin: 0px -20px 0px 0px;
    }
    
    .nav_content h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        line-height: 27px;
        font-weight: 600;
    }
    
    .nav_content p {
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
        line-height: 27px;
        margin: 10px 0px 0px 0px;
    }

    .grid_container {
        max-width: 750px;
        height: 1200px;
        margin: 100px auto 80px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    img.portrait {
        width: 210px;
        height: 310px;
        margin: 0px 0px 0px 5px;
        cursor: pointer;
    }

    img:hover {
        position: relative;
        bottom: 3px;
    }

    .name {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        line-height: 27px;
        font-weight: 600;
        margin: 10px 0px 0px 5px;
    }

    footer p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        padding: 20px 0px;
    }
    
}

@media screen and (max-width:425px)  {

    .nav_container {
        display: inline-block;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        margin: 80px auto 20px;
    }
    
    .nav_container h1 {
        font-family: 'PT Serif', serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
        margin-left: 20px;
    }
    
    .nav_content {
        max-width: 380px;
        box-sizing: border-box;
        margin: 40px 0px 0px 20px;
    }
    
    .nav_content h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        line-height: 27px;
        font-weight: 600;
    }
    
    .nav_content p {
        max-width: 320px;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        line-height: 27px;
        margin-top: 10px;
    }

    .grid_container {
        max-width: 420px;
        height: 900px;
        margin: 40px auto 120px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    img.portrait {
        width: 150px;
        height: 209px;
        margin: 0px 0px 0px 20px;
        cursor: pointer;
    }

    img.mid, .container .mid {
        margin-top: 0px;
    }

    img.portrait.mobile,
    div p.mobile,
    div p.mobile.port {
        margin-top: 50px;
    }

    img:hover {
        position: relative;
        bottom: 3px;
    }

    .name {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        line-height: 27px;
        font-weight: 600;
        margin: 5px 0px 0px 20px;
    }
    
    .job {
        font-family: 'PT Serif', serif;
        font-weight: 400;
        font-size: 10px;
        writing-mode: vertical-lr;
        text-transform: uppercase;
        margin-left: 5px;
    }
    
    footer p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        padding: 20px 0px;
    }

}

@media screen and (max-width:375px)  {
    img.portrait {
        width: 140px;
        height: 209px;
        margin: 0px 0px 0px 14px;
        cursor: pointer;
    }
}

@media screen and (max-width:320px) {
    img.portrait {
        width: 130px;
        height: 209px;
        margin: 0px 0px 0px 5px;
        cursor: pointer;
    }
}